.container {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    cursor: default;
    color: black;
  }
  :hover {
    color: royalblue;
  }
}

.mr-5 {
  margin-right: 5px;
}

.ml-15 {
  margin-top: 3px;
  margin-left: 15px;
}
