.container {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  word-break: break-all;
  align-items: center;
  a {
    cursor: default;
    color: black;
    span {
      line-height: 30px;
    }
  }
  :hover {
    color: royalblue;
  }
}

.mr-5 {
  font-size: 1.6em;
  margin-right: 5px;
}

.ml-15 {
  font-size: 2em;
}

@media screen and (min-width: 600px) {
}
