<!-- Edit Contact Form -->
<form [formGroup]="studentForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Schüler hinzufügen</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput formControlName="studentName" placeholder="Name">
            <mat-error *ngIf="studentForm.controls['studentName'].hasError('required')">
              Vorname ist <strong>erforderlich</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Ort</mat-label>
            <mat-select name="city" formControlName="studentLocation">
              <mat-option *ngFor="let location of locations" [value]="location.cityName">
                {{ location.cityName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="studentForm.controls['studentLocation'].hasError('required')">
              Ort ist <strong>erforderlich</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Lernjahr</mat-label>
            <mat-select name="year" formControlName="learningYear">
              <mat-option *ngFor="let year of learningYear" [value]="year.learningYear">
                {{year.learningYear}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="studentForm.controls['learningYear'].hasError('required')">
              Lernjahr ist <strong>erforderlich</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Notizen</mat-label>
            <textarea matInput formControlName="studentNotes">
            </textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <!-- <input type="file" (change)="onFileSelected($event)"> -->
          <button type="button" mat-stroked-button (click)="fileInput.click()">Datei auswählen</button>
          <input hidden (change)="onFileSelected($event)" #fileInput type="file">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="file-name">{{selectedFile?.name}}</p>
          <button type="button" mat-button color="accent">
            <mat-icon class="margin-r">cloud_upload</mat-icon>
            <span>Hochladen</span>
          </button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a mat-stroked-button color="primary" type="button" routerLink="">Zurück</a>
      <button mat-stroked-button color="warn" type="reset">Eingabe löschen</button>
      <button mat-raised-button color="primary" type="submit" value="Update"
        [disabled]="!studentForm.valid">Speichern</button>
    </mat-card-actions>
  </mat-card>
</form>
