<mat-grid-list [cols]="cols" [rowHeight]="rowHeight">
  <mat-grid-tile>
    <div class="box-1">
      <span>Anzeigen nach:</span>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle [checked]="true" (click)="showLocation = true" ngDefaultControl>ORT</mat-button-toggle>
        <mat-button-toggle (click)="showLocation = false">LERNJAHR</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="box-2">
      <span>Schüler hinzufügen:</span>
      <button mat-raised-button color="primary" routerLink="/students/add">
        <mat-icon aria-label="edit_icon">add</mat-icon>
        NEU
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div *ngIf="dataSource.length > 0; else noDataAvailable">
  <div *ngIf="showLocation">
    <article *ngFor="let location of locations" class="example-container">
      <h3>{{ location }}</h3>
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let student of dataSource | filterLocation: location" cdkDragLockAxis="y"
          cdkDrag>
          <mat-icon aria-label="drag_indicator">drag_indicator</mat-icon>
          {{student.studentName}}
          <a mat-button color="accent" routerLink="/students/view/:studentName">
            <mat-icon aria-label="edit_icon">visibility</mat-icon>
          </a>
          <a mat-button color="primary" routerLink="/students/edit/:studentName">
            <mat-icon aria-label="edit_icon">edit</mat-icon>
          </a>
          <button mat-button color="warn">
            <mat-icon aria-label="delete_icon">delete</mat-icon>
          </button>
        </div>
      </div>
    </article>
  </div>

  <div *ngIf="!showLocation;">
    <article *ngFor="let year of learningYear" class="example-container">
      <h3>{{ year }}. Lernjahr</h3>
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let student of dataSource | filterYear: year" cdkDragLockAxis="y" cdkDrag>
          <mat-icon aria-label="drag_indicator">drag_indicator</mat-icon>
          {{student.studentName}}
          <a mat-button color="accent" routerLink="/students/view/:studentName">
            <mat-icon aria-label="edit_icon">visibility</mat-icon>
          </a>
          <a mat-button color="primary" routerLink="/students/edit/:studentName">
            <mat-icon aria-label="edit_icon">edit</mat-icon>
          </a>
          <button mat-button color="warn">
            <mat-icon aria-label="delete_icon">delete</mat-icon>
          </button>
        </div>
      </div>
    </article>
  </div>
</div>

<ng-template #noDataAvailable>
  <p>Es wurden noch keine Schüler angelegt!</p>
</ng-template>
