<div class="margin-b">
  <label>
    <button type="button" mat-stroked-button (click)="fileInput.click()">Datei auswählen</button>
    <input hidden (change)="selectFile($event)" #fileInput type="file">
  </label>

  <button type="button" mat-button color="accent" [disabled]="!selectedFiles" (click)="upload()">
    <mat-icon class="margin-r">cloud_upload</mat-icon>
    <span>Hochladen</span>
  </button>

  <div *ngIf="currentFileUpload">
    <div role="progressbar" attr.aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100"
      [ngStyle]="{ width: percentage + '%' }">
      {{ percentage }}%
    </div>
  </div>
</div>
