<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label aria-label="Email">Email</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label aria-label="password">Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" type="submit">{{ isLoginMode ? 'Login' : 'Registrieren' }}</button>
    |
    <button mat-raised-button color="accent" type="button" (click)="onSwitchMode()">
      {{ isLoginMode ? ' Zur Registrierung' : 'Zum Login'}} wechseln</button>
  </div>
</form>
